cmake-build-release
cmake-build-debug
build
unsort
appl/unsort
examples/hainich/local/plt
examples/hainich/local/parameter_example.csv
examples/hainich/local/parameter_example_multi.csv
examples/swiss_cc/local/plt
tests/general/test
tests/hainich/test
tests/swiss_cc/test
.idea
*.log
*.err
*.pyc
.DS_Store
*/*/__pycache__
